/* Slideshow container */
*{
    margin: 0;
    padding: 0;
}
.slideshow-container {
  position: relative;
  background: black;
}

.mySlides >img{
  opacity: 0.4;
  overflow: hidden;
}


.nav{
    position: absolute;
    color: lightgray;
    top: 10px;
    font-family: sans-serif;
    font-weight: 100;
    display: flex;
    align-items: center;
    border-bottom: 0.2px solid grey;
    width: 100%;
    height: 29px;
    margin-top: -8px;

}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 350px;
  width: 95%;
  text-align: center;
}

.img-1{
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 80px;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  transition: background-color 0.6s ease;
}
.social-icons{
  padding-left: 280px;
}

.social-icons >img{
  height: 18px;
  padding-left: 14px;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.text-2{
  display: grid;
  grid-template-columns: 500px 500px;
  align-items: center;
  justify-content: center;
  color: darkslategrey;
  font-family:sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding-top: 50px;
}

/* nav {
  position: -webkit-sticky;
  position: sticky;
  /* sticky or fixed are fine */
  /* position: fixed;
  top: 0;
  height: 120px;
  width: 100%; */
  /* background when scroll is in the top 
  
} */

nav.scrolled {
  background: #fff;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.offer-container{
  position: relative;
  background: black;
  overflow: hidden;
}
.offer-bg{
  opacity: 0.2;
  z-index: -10;
}
.slide{
  position: absolute;
  z-index: 3;
  top: 1400px;
  left: 150px;
}

.dots{
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  bottom: -1300px;
  position: absolute;
  transition: background-color 0.6s ease;
}

.b1 , .b2 , .b3, .b4, .b5, .b6{
  border: 1px solid #000;
  padding: 10px 30px;
  background-color: #fff;
  margin-left: 10px;
}
.hover-effect:hover{
  background-color: #d63031;
  color: #fff;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.round >img{
  border-radius: 50%;
  border: 10px solid lightgray;
}

.round{
  margin-bottom: 50px;
}

.content {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 180px;
  margin-top: 80px;
}

/* .chefs{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 50px;
} */

.chefs{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 50px;
}